<html>
	<header>
    <title>Matrix</title>
    <meta name="google-signin-client_id" content="<%= googleCredential.publicKey %>">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/office.css" />
	</header>
	<body class="bg-light">
  <nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand logo text-danger" href="javascript:void(0)"><img src="/imgs/matrix.svg" /></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        Olá <span id='name'></span>, seja bem vindo <button id="btnLogout" class="btn btn-link text-danger" type="submit" logout >Sair</button>
      </li>
    </ul>
    </nav>
    </br>
		<div class="container-fluid row">
				<% for(var i=0; i<roomsDetail.length; i++) {%>

				<div id="<%= roomsDetail[i].id%>" class="square col-sm-3 m-1 shadow-sm bg-white border-bottom border-right">
						<div class="rounded bg-danger text-white room"><%= roomsDetail[i].name%></div>
        	<div id="users-<%= roomsDetail[i].id%>" class="container fluid">
					</div>
					<div class="btn-join">
						<button external-meet-url="<%= roomsDetail[i].externalMeetUrl%>" class="btn btn-danger text-white" enter-room="<%= roomsDetail[i].id%>" >entrar na sala</button>
					</div>
      	</div>
  		<% } %>
	</div>
<		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
		<script src="profile.web.js"></script>
    <script src="office.web.js"></script>
	</body>
</html>
